*{
    margin: 0px;
    padding: 0px;
   }
   body{
    font-family: arial;
    background: radial-gradient(#fff, #165e7f);
   }
   .main{
   
    margin: 2%;
   }
   
   .card{
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     
   
    
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   button:hover{
     background-color: black;
     color: white;
     transition: .5s;
     cursor: pointer;
   }
   .small-container{
    max-width: 2500px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.small-container a{
    color:white;
}
.small-container1{
    max-width:7500px;
    margin:auto;
    padding-right: 1350px;
    padding-left: 1350px;
}
.small-container1 a{
    color:white;
}
.heading{
    text-align: center;
}
.heading{
    background-color: rgb(150, 174, 255);
}
