*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./2.mid-century-modern-living-room.jpg);
  
   justify-content: center;
   align-items: center;
   height: 130vh;
   margin: 0;
   background-size: cover;
   width: 500px;
   height: 620px;
   margin: auto;
   background-color: white;
   border-radius: 3px;
  }
.header h3{
    margin: 0;
    text-align: center;
    padding-top: 0px;
}
.header{

    border-bottom: 1px solid #f0f0f0;
    background-color: #9a8484;
    padding: 10px 10px;

}



.header input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border:0;
    border-radius: 5px;
    outline:none;
    background-color: #757575;
    height: 3px;
    margin-left: 1px;
}


  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #000000;
  }